
module my-bash 1.0;

require {
	type user_home_t;
	type container_t;
	class file execute;
}

#============= container_t ==============
allow container_t user_home_t:file execute;
